@model DoradcaWyjazdowWypoczynkowych.Models.OfertaGotowa

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>OfertaGotowa</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nazwa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nazwa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Opis)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Opis)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Data)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Data)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Komfort)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Komfort)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Zwiedzanie)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Zwiedzanie)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Aktywnosc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Aktywnosc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Imprezowosc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Imprezowosc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BliskoNatury)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BliskoNatury)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CzasTrwania)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CzasTrwania)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Koszt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Koszt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Kod)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Kod)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Transport)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Transport)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LiczbaOsob)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LiczbaOsob)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
