@model DoradcaWyjazdowWypoczynkowych.Models.OfertaGotowa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>OfertaGotowa</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nazwa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nazwa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Opis)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Opis)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Data)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Data)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Komfort)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Komfort)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Zwiedzanie)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Zwiedzanie)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Aktywnosc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Aktywnosc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Imprezowosc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Imprezowosc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BliskoNatury)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BliskoNatury)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CzasTrwania)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CzasTrwania)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Koszt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Koszt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Kod)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Kod)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Transport)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Transport)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LiczbaOsob)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LiczbaOsob)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.OfertaGotowaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
